.p8Button1 {
    width: 138px;
    height: 35px;

    border: 4px solid red;

    cursor: pointer;

    position: absolute;
    left: 10px;
    top: 15px;
}

.p8Button2 {
    width: 80px;
    height: 35px;

    border: 4px solid red;

    cursor: pointer;

    position: absolute;
    right: 10px;
    top: 15px;
}