.screenImageContainer {
    width: 377px;
   
    /* background-color: red; */

    position: relative;
    left: 50%;
    transform: translate(-188.5px, 0px);
}

.screenImage {
    width: 375px;   /* Screen Image is iPhone XS size.  iPhone XS viewport size is 375px wide x 812px high */

    /* border: 1px solid #cecece; */
    border: 1px solid #a1a1a1;

    position: relative;
};